@model ControlEscolar.Models.Departamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Departamento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Director.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Director.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DepartamentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
